<section class="clients-section">
  <div class="container">
    <div class="clients__wrapper-text">
      <h2 class="clients-section__title title">
        Some of our <span class="text-blue">happy clients</span>
      </h2>
      <p class="clients-section__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, montes,<br />
        faucibus condimentum dui habitant in at. Cras mauris et vitae eget.
      </p>
    </div>
    <ul class="clients-section__list list">
      <li class="clients-section__item">
        <div class="wrapper__img">
          <img
            src="./images/clients/conectado.png"
            alt="компания conectado"
            width="200"
            height="200"
          />
        </div>
      </li>
      <li class="clients-section__item">
        <div class="wrapper__img">
          <img src="./images/clients/conuma.png" alt="компания conuma" width="200" height="200" />
        </div>
      </li>
      <li class="clients-section__item">
        <div class="wrapper__img">
          <img src="./images/clients/ontario.png" alt="компания ontario" width="200" height="200" />
        </div>
      </li>
    </ul>
  </div>
</section>
