<footer class="footer">
  <div class="bottom-line container">
    <div class="copyright-footer">
      <p>&copy; 2021 XOR Consulting LTD</p>
    </div>
    <ul class="links__list list">
      <li class="links__item">
        <a class="links__item-link link" href="#">Terms of Use</a>
      </li>
      <li class="links__item">
        <a class="links__item-link link" href="#">Privacy Policy</a>
      </li>
    </ul>
  </div>
  <div class="bottom-footer">
    <p class="bottom-footer__text">
      Dallas WordPress Development:
      <a class="bottom-footer__link" href="#" target="_blank" rel="noopener">Web Loft Designs</a>
    </p>
  </div>
</footer>
