<section class="get-in-touch-section">
  <div class="container">
    <h2 class="get-in-touch-section__title title">
      <span class="text-blue">Get in touch</span> with us
    </h2>
    <p class="get-in-touch-section__text">
      We are ready to lead you lorem ipsum dolor sit amet,<br />
      consectetur adipiscing elit. Venenatis ultricies nibh sapien.
    </p>
    <div class="form-wrapper">
      <form class="form">
        <ul class="form__list list">
          <li class="form__item-name">
            <label>
              <input class="input-name" type="text" placeholder="Last Name*" />
            </label>
          </li>
          <li class="form__item-name">
            <label>
              <input class="input-name" type="text" placeholder="First Name*" />
            </label>
          </li>
          <li class="form__item-name">
            <label>
              <input class="input-name" type="text" placeholder="Company" />
            </label>
          </li>
          <li class="form__item-contacts">
            <label class="label-tell">
              <input
                class="input-contacts"
                type="tel"
                placeholder="Phone*"
                value="(___) ___-____"
              />
            </label>
          </li>
          <li class="form__item-contacts">
            <label>
              <input class="input-contacts" type="email" placeholder="Email*" />
            </label>
          </li>
          <li class="form__item-textarea">
            <textarea
              class="textarea"
              rows="10"
              cols="50"
              placeholder="Tell Us about your project"
            ></textarea>
          </li>
        </ul>
        <button type="submit" class="btn-submit btn">Submit</button>
      </form>
    </div>
  </div>
</section>
