<header class="header">
  <div class="fixed-header">
    <div class="container header__container">
      <div class="logo-wrapper">
        <a class="logo-wrapper__link link" href="./index.html">
          <img class="logo-wrapper__img" src="./images/header/logo.png" alt="logo" width="100" />
        </a>
        <div class="logo-wrapper__box">
          <p class="logo-wrapper__name-company">XOR CONSULTING LTD</p>
          <p class="logo-wrapper__text-company">Spend where it matters</p>
        </div>
      </div>
      <button class="header__button-open-menu" type="button" data-menu-button>
        <svg
          class="header__button-icon-"
          width="24"
          height="16"
          aria-label="переключатель мобильного меню"
        >
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <nav class="navigation header__navigation">
        <ul class="site-nav header__site-nav list">
          <li class="site-nav__item">
            <a class="site-nav__link site-nav__link--active link" href="#">Home</a>
          </li>
          <li class="dropdown">
            <a
              class="site-nav__link site-nav__link--selected link dropbtn"
              href="javascript:void(0)"
              >Solutions</a
            >
            <div class="dropdown-content list">
              <a href="">Inventory Management</a>
              <a href="">Strategic Sourcing</a>
              <a href="">Contracts Management &amp; Negotiation</a>
              <a href="">Procurement Outsourcing</a>
              <a href="">Supply Chain Data Intelligence</a>
              <a href="">ERP Implementation Support</a>
            </div>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link link" href="#">How It Works</a>
          </li>
          <li class="dropdown">
            <a
              class="site-nav__link link site-nav__link--selected dropbtn"
              href="javascript:void(0)"
              >About</a
            >
            <div class="dropdown-content list">
              <a href="">Core Principals</a>
            </div>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link link" href="#">Get Started</a>
          </li>
        </ul>
      </nav>
      <div class="mobile-menu header__mobile-menu" data-menu>
        <ul class="mobile-nav-menu__list list">
          <li class="mobile-nav-menu__item">
            <a class="mobile-nav-menu__link link" href="./index.html">Home</a>
          </li>
          <li class="mobile-nav-menu__item dropdown">
            <a
              class="mobile-nav-menu__link mobile-nav-menu__link--selected link dropbtn"
              href="javascript:void(0)"
              >Solutions</a
            >
            <div class="dropdown-content">
              <a href="">Inventory Management</a>
              <a href="">Strategic Sourcing</a>
              <a href="">Contracts Management &amp; Negotiation</a>
              <a href="">Procurement Outsourcing</a>
              <a href="">Supply Chain Data Intelligence</a>
              <a href="">ERP Implementation Support</a>
            </div>
          </li>
          <li class="mobile-nav-menu__item">
            <a class="mobile-nav-menu__link link" href="">How It Works</a>
          </li>
          <li class="mobile-nav-menu__item dropdown">
            <a
              class="mobile-nav-menu__link mobile-nav-menu__link--selected link dropbtn"
              href="javascript:void(0)"
              >About</a
            >
            <div class="dropdown-content">
              <a class="mobile-nav-menu__link" href="">Core Principals</a>
            </div>
          </li>
          <li class="mobile-nav-menu__item">
            <a class="mobile-nav-menu__link link" href="">Get Started</a>
          </li>
        </ul>
        <button class="mobile-menu-btn__close" type="button" data-menu-close>
          <svg class="mobile-menu-btn__close-icon" width="24" height="16">
            <use href="./images/icons.svg#icon-cross"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
