<section class="help-you-section">
  <div class="container">
    <h2 class="help-you-section__title title">How we <span class="text-blue">help you</span></h2>
    <p class="help-you-section__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, montes,<br />
      faucibus condimentum dui habitant in at. Cras mauris et vitae eget.
    </p>

    <ul class="help-you-section__list list">
      <li class="help-you-section__item">
        <div class="wrapper-card__img">
          <svg class="help__icon" width="99" height="95">
            <use href="./images/icons.svg#icon-1"></use>
          </svg>
        </div>
        <h3 class="wrapper-card__title">Inventory Management</h3>
        <p class="wrapper-card__text">
          Introduce Best Practices to your environment to help your bottom line and satisfy your
          discerning customers.
        </p>
        <a href="#" class="wrapper-card__link link">Learn more ></a>
      </li>
      <li class="help-you-section__item">
        <div class="wrapper-card__img">
          <svg class="help__icon" width="94" height="94">
            <use href="./images/icons.svg#icon-2"></use>
          </svg>
        </div>
        <h3 class="wrapper-card__title">Strategic Sourcing</h3>
        <p class="wrapper-card__text">
          Challenge your supplier base to ensure every dollar spent is working to your maximum
          benefit.
        </p>
        <a href="#" class="wrapper-card__link link">Learn more ></a>
      </li>
      <li class="help-you-section__item">
        <div class="wrapper-card__img">
          <svg class="help__icon" width="94" height="94">
            <use href="./images/icons.svg#icon-3"></use>
          </svg>
        </div>
        <h3 class="wrapper-card__title">Contracts Management & Negotiation</h3>
        <p class="wrapper-card__text">
          Provide assurance to your stakeholders by building lasting relationships on your Terms.
        </p>
        <a href="#" class="wrapper-card__link link">Learn more ></a>
      </li>
      <li class="help-you-section__item">
        <div class="wrapper-card__img">
          <svg class="help__icon" width="94" height="100">
            <use href="./images/icons.svg#icon-4"></use>
          </svg>
        </div>
        <h3 class="wrapper-card__title">Procurement Outsourcing</h3>
        <p class="wrapper-card__text">
          Specialized procurement services at your convenience to add immediate value to your
          organization.
        </p>
        <a href="#" class="wrapper-card__link link">Learn more ></a>
      </li>
      <li class="help-you-section__item">
        <div class="wrapper-card__img">
          <svg class="help__icon" width="103" height="94">
            <use href="./images/icons.svg#icon-5"></use>
          </svg>
        </div>
        <h3 class="wrapper-card__title">Supply Chain Data Intelligence</h3>
        <p class="wrapper-card__text">
          Make confident decisions by learning from your data and ensure sustainable growth for your
          company.
        </p>
        <a href="#" class="wrapper-card__link link">Learn more ></a>
      </li>
      <li class="help-you-section__item">
        <div class="wrapper-card__img">
          <svg class="help__icon" width="96" height="96">
            <use href="./images/icons.svg#icon-6"></use>
          </svg>
        </div>
        <h3 class="wrapper-card__title">ERP Implementation Support</h3>
        <p class="wrapper-card__text">
          Ensure your user’s interests are protected and each detail is implemented with care.
        </p>
        <a href="#" class="wrapper-card__link link">Learn more ></a>
      </li>
    </ul>
  </div>
</section>
