<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__wrapper-text">
        <h1 class="hero__title">
          Your Supply Chain. <br />
          Our Competitive Edge.
        </h1>
        <p class="hero__text">Spend where it matters</p>
        <a href="#" class="link btn">Learn more</a>
      </div>
      <div class="hero__img">
        <img src="./images/hero/hero.png" alt="чертежи" width="634" height="354" />
      </div>
    </div>
  </div>
</section>
