<section class="section-principles">
  <div class="container">
    <h2 class="section-principles__title title">Core <span class="text-blue">principles</span></h2>
    <p class="section-principles__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, montes,<br />
      faucibus condimentum dui habitant in at. Cras mauris et vitae eget.
    </p>

    <ul class="section-principles__list list">
      <li class="section-principles__item">
        <span class="section-principles__text-bg"> 01</span>
        <h3 class="section-principles__card-title">Spend where it matters.</h3>
        <p class="section-principles__card-text">
          That includes us. We will never offer you anything where we believe our cost outweighs
          your financial benefit.
        </p>
      </li>
      <li class="section-principles__item">
        <span class="section-principles__text-bg"> 02</span>
        <h3 class="section-principles__card-title">Keep it simple.</h3>
        <p class="section-principles__card-text">
          Supply Chain can get complex with both numbers and words. Our job is to communicate in a
          simple yet effective manner.
        </p>
      </li>
      <li class="section-principles__item">
        <span class="section-principles__text-bg"> 03</span>
        <h3 class="section-principles__card-title">Getting our hands dirty</h3>
        <p class="section-principles__card-text">
          We can’t make any real improvements unless we come close to your processes, technology,
          data and people. We do it for free and keep the knowledge confidential.
        </p>
      </li>
      <li class="section-principles__item">
        <span class="section-principles__text-bg"> 04</span>
        <h3 class="section-principles__card-title">Stay Agile</h3>
        <p class="section-principles__card-text">
          Everyone is different. We adapt to your environment.
        </p>
      </li>
      <li class="section-principles__item">
        <span class="section-principles__text-bg"> 05</span>
        <h3 class="section-principles__card-title">Leverage technology</h3>
        <p class="section-principles__card-text">
          Modern tools are made to save time and money. We ensure they are effective tools to your
          operation.
        </p>
      </li>
      <li class="section-principles__item item-end">
        <h3 class="item-end__title">Smaller. Simpler. Better.</h3>
        <p class="item-end__text">
          XOR’s purpose is to help businesses reduce waste, maximize efficiency and weather the
          storms with ease.
        </p>
        <a href="#" class="item-end__link link">Learn more about us ></a>
      </li>
    </ul>
  </div>
</section>
