<section class="re-think-section">
  <div class="container">
    <div class="re-think-section__wrapper">
      <div class="re-think-section__img">
        <img src="./images/re-think/Mask-Group.jpg" alt="девушка" width="588" height="710" />
      </div>
      <div class="re-think-section__wrapper-text">
        <span class="re-think-section__text-bg">re-think</span>
        <h2 class="re-think-section__title title">
          We <span class="text-blue">re-think</span> your <br />
          supply chain end-to-end
        </h2>
        <p class="re-think-section__text">
          We don't tweak and patch-up.<br />
          We leverage new technologies, complex data analytics, and best practices to your
          advantage.<br />
          Best of all, we do it on budget.
        </p>
        <a href="#" class="re-think-section__text-link link">See Our 4 Step Engagement Process ></a>
      </div>
    </div>
  </div>
</section>
