.footer {
  background-color: #1c5368;
}
.bottom-line {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.copyright-footer,
.links__item-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.links__list {
  display: flex;
}

.links__item {
  &:last-child {
    border-left: 1px solid #fff;
    padding-left: 4px;
    margin-left: 4px;
  }
}

.bottom-footer {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
}
.bottom-footer__text,
.bottom-footer__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #000000;
}
.bottom-footer__link {
  color: rgba(28, 83, 104, 1);
  &:hover,
  &:focus {
    color: rgb(14, 55, 71);
  }
}
