// .header {
//   position: relative;
// }
.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  background-color: #fff;
  border-bottom: 1px solid rgba(30, 82, 104, 0.05);
}
.header__container {
  display: flex;
}
.header__button-open-menu {
  margin-left: auto;
  border: none;
  background-color: transparent;
  fill: #1e5268;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper__box {
  margin-left: 10px;
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}

.logo-wrapper__name-company {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 0.78;

  text-transform: uppercase;
  color: #1e5268;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
.logo-wrapper__text-company {
  font-weight: 300;
  font-size: 10px;
  line-height: 1.08;

  color: #1e5268;
  @media screen and (min-width: 1200px) {
    font-size: 13px;
  }
}

.header__navigation {
  margin-left: auto;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
